header {
   width: 100%;
   height: 30px;
   background-color: black;
   color: white;
   display: flex;
   padding: 0 5px;
 }
 
 header #logo {
   margin: auto 0;
   display: flex;  
   font-family: Helvetica, Arial, Sans-serif;
  }

  body {
   display: inline-block; 
   font-family: Helvetica, Arial, Sans-serif;
    background-color: grey;
    color: #333;
 }


.node circle {
  fill: steelblue;
  stroke: white;
  stroke-width: 1px;
}

.node {
  font: 10px sans-serif;
  color: black;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}






